<<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   <%var id = 'hong';%>
    <%
        for(var i = 0 ; i<10; i++){        
    %>
    <h2>내이름은 <%=name%></h2>
    <%
        }
    %>
    
</body>
</html>