doctype html
html
    head
        title 글 수정
        script.
            function goList(){
                location.href ='/board';
            }
    body
     div(align ='center')
            br
            hr
            h2 게시판 상세 페이지
            hr
            br
            form(name = "wForm",method = 'post' action = '/board/#{no}' onsubmit = 'return checkForm()')
                table(border = '1', width = '80%')
                    tr
                        th(width = '25%') 제목
                        td
                            input(type = 'text' , name = 'title' value = "#{board.title}")
                    tr
                        th(width = '25%') 글쓴이
                        td
                            input(type = 'text', name  = 'writer' value = "#{board.writer}")
                    tr
                        th(width = '25%') 내용
                        td
                            textarea(name = "content" cols = '50' rows = '5') #{board.content}
                br
                input(type = 'submit', value = '수정완료')
                input(type = 'button', value = '목록', onclick = 'goList()' )