doctype html
html
    head
        title 로그인
    body
        div(align = 'center')
            br
            hr
            h2 로그인페이지
            hr
            br
            
            form(method = "post")
                table(border = '1', width ='40%')
                    tr
                        th ID
                        td 
                            input(type ='text' name = 'id')
                            input(type = 'checkbox', name = 'idSave')
                            | 아이디저장
                    tr
                        th PASSWORD
                        td
                            input(type = 'password' name = 'password')
                br
                input(type ='submit' value = '로그인') 