doctype html
html
    head
        block title 
        link(rel='stylesheet',  href='layout.css')
    body
        header 
            include include/topMenu.jade
        block section
        footer
            include include/footer.jade
        