doctype html
html
    head
        title 메인페이지
        link(rel='stylesheet',  href='layout.css')
    body
        header 
            include include/topMenu.jade
        section main부분입니다.
        footer
            include include/footer.jade
        